body {
    margin: 0;
    padding: 0;
}

#drop-zone {
    width: 50vh;
    margin: 20px auto 0px auto;
    border: 2px dashed #cdcdcd;
    padding: 20px;
    text-align: center;
    cursor: default;
}

#image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#image-container {
    position: relative;
    margin-bottom: 50px;
}

#uploaded-image {
    max-height: 400px;
    max-width: 100%;
    display: none;
}

#blue-square {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.5);
    cursor: grab;
}

button {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #ade8f4;
    box-shadow: 0px 15px 20px rgba(2, 62, 138, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#crop-button {
    display: none;
}

#add-size-button {
    display: none;
}
#resize-button {
    display: none;
}

#resize-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#size-input-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#cropped-image-previews {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#cropped-image-holder {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: first baseline;
}
